*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0b4f6c,#1b998b,#2d6a4f);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.container{
    width:100%;
    max-width:900px;
    background:rgba(255,255,255,.10);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:30px;

    padding:45px;

    color:white;

    box-shadow:
    0 20px 60px rgba(0,0,0,.35);

    transition:.4s;
}

header{
    text-align:center;
    margin-bottom:25px;
}

header h1{
    font-size:40px;
    font-weight:700;
}

header p{
    font-size:20px;
    opacity:.9;
}

h2{
    text-align:center;
    margin-bottom:10px;
}

.intro{
    text-align:center;
    margin-bottom:25px;
    opacity:.9;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
}

input,
select{

width:100%;

padding:14px;

border-radius:14px;

border:2px solid rgba(255,255,255,.2);

background:rgba(255,255,255,.15);

color:white;

font-size:16px;

margin-bottom:8px;

transition:.3s;

}

input:focus,
select:focus{

outline:none;

border-color:#00d26a;

box-shadow:0 0 18px rgba(0,210,106,.4);

}

button{
    width:100%;
    margin-top:35px;
    padding:18px;

    border:none;

    border-radius:18px;

    background:linear-gradient(90deg,#00d26a,#00b894);

    color:white;

    font-size:20px;

    font-weight:700;

    cursor:pointer;

    transition:.35s;
}

button:hover{

transform:
translateY(-4px)
scale(1.02);

box-shadow:
0 20px 45px rgba(0,210,106,.55);

}

#result{

margin-top:40px;

padding:30px;

border-radius:25px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(10px);

text-align:center;

animation:fadeUp .8s;

}
