*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0b4f6c,#1b998b,#2d6a4f);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.container{
    width:100%;
    max-width:800px;
    background:rgba(255,255,255,0.12);
    backdrop-filter:blur(15px);
    border-radius:25px;
    padding:35px;
    color:white;
    box-shadow:0 15px 40px rgba(0,0,0,.3);
}

header{
    text-align:center;
    margin-bottom:25px;
}

header h1{
    font-size:40px;
    font-weight:700;
}

header p{
    font-size:20px;
    opacity:.9;
}

h2{
    text-align:center;
    margin-bottom:10px;
}

.intro{
    text-align:center;
    margin-bottom:25px;
    opacity:.9;
}

label{
    display:block;
    margin-top:18px;
    margin-bottom:8px;
    font-weight:600;
}

input,
select{
    width:100%;
    padding:12px;
    border:none;
    border-radius:12px;
    font-size:16px;
}

button{
    width:100%;
    margin-top:30px;
    padding:16px;
    border:none;
    border-radius:15px;
    background:#00c853;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.03);
    background:#00b248;
}

#result{
    margin-top:30px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
}
